@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: linear-gradient(to right, #859eb6, #89c495);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;

}

.main {
    width: 320px;
    height: 620px;
    margin: 20px 0;
    border: 10px solid white;
    border-radius: 20px;
    background-color: #ffffff4a;

    font-size: 0;
}

#next-tetro {
    position: absolute;
    top: 15vh;
    left: 100%;

    transform: translate(-100%, -50%);

    margin: 0;
    border-radius: 0px;
    font-size: 0;

    width: 150px;
    height: 150px;
}

.cell {
    display: inline-block;

    width: 30px;
    height: 30px;
    border: 2px solid rgba(255, 255, 255, 0.617);

}

.moovingCell {
    background-color: #9874c7;
}

.fixedCell {
    background-color: #5fb46c;
}

.box-1 {
    position: relative;
    width: 32vw;
    height: 100vh;
}

.box-2 {
    position: relative;
    width: 60vw;
    height: 100vh;
}

.score-box {
    position: absolute;
    top: 90vh;
    left: 100%;
    width: 400px;
    padding: 30px;


    transform: translate(-100%, -100%);

    text-align: end;
}

.btn-box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    position: absolute;
    top: 50vh;
    left: 98%;
    width: 400px;
    padding: 30px;


    transform: translate(-100%, -50%);

    text-align: end;
}

.btn {
    width: 40px;
    height: 40px;

    margin: 10px;

    /* border: 2px solid rgba(255, 255, 255, 0.5); */
    border: none;
    border-radius: 10px;

    background: rgba(255, 255, 255, 0.2);

    font: inherit;
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-align: center;
}

.btn:nth-child(2) {
    padding: 0px 0px 1px 0px;
    font-size: 28px;
    transform: rotate(0.25turn);
}

.btn:nth-child(2):hover {
    transform: rotate(0.25turn) scale(1.05);
}

.btn:nth-child(2):active {
    transform: rotate(0.25turn) scale(1);
}

.btn:hover {
    background: rgba(255, 255, 255, 0.3);
    transform: scale(1.05);
}

.btn:active {
    background: rgba(255, 255, 255, 0.3);
    transform: scale(1);
}

.modal-window {
    z-index: 5;
    width: auto;
    position: absolute;
    top: 43vh;
    left: 48%;

    transform: translate(-50%, -50%);

    padding: 40px 150px 60px;

    background: rgba(0, 0, 0, 0.468);
    border-radius: 30px;
}

.modal-window h1 {
    text-align: center;
    text-transform: uppercase;

}

.btn-modal {
    width: 100%;

    border: none;
    border-radius: 10px;

    font: inherit;
    padding: 10px;

    background: #ffffffc9;
}

.btn-modal:hover {
    transform: scale(1.05);
}

.btn-modal:active {
    transform: scale(1);
}

.overlay {
    position: absolute;

    width: 100vw;
    height: 100vh;
    background: #000000cc;
    z-index: 1;
}

.hidden {
    display: none;
}